<!-- Group 2 -->

     <!-- Main Nav bar-->
     <nav class="navbar navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <img src="/assets/logo.jpg" alt="logo" style="width:90px;">

        <a class="navbar-brand" routerLink="/"><i class="fa fa-bookmark-o"></i> Ready2Help</a>
      </div> 
   
      <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse navbar-ex1-collapse"> 
        <ul class="nav navbar-nav navbar-right">
          
            <li class="active"><a routerLink="/auth/signin"><i class="fa fa-home fa-lg"></i> Home</a></li>
      
          
            <li class="active"><a routerLink="/ticketlist/add"><i class="fa fa-book fa-lg">
            </i> Create A Ticket</a></li>
           
              <li><a routerLink="/ticketlist/list"><i class="fa fa-book fa-lg">
              </i> Tickets List</a></li>

              <li class="active"><a routerLink="/"><i class="fa fa-home fa-lg"></i> Sign in </a></li>
        </ul> 

         <!-- <li class="nav-item">
          <% if (typeof userName == 'string' && userName) { %>
            <a class="nav-link" routerLink="/users/signout" onclick="return confirm('Are you sure?')"><i class="fa fa-door-open"></i> Sign-Out (<%= userName %>)</a>   
            <!-- <a class="nav-link" routerLink="/users/signin"><i class="fa fa-door-closed"></i> Sign-in</a>-->
                   
     


      </div>
    </nav> 
  

